<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= current_page.data.title ?
    "#{current_page.data.title} - Hive Mac" :
    'Hive Mac - beautiful native Bitcoin wallet for the Mac' %></title>

  <%= stylesheet_link_tag 'vendor', 'style' %>
  <%= stylesheet_link_tag 'https://s3.amazonaws.com/fonts.typotheque.com/WF-018717-007225.css' %>

  <link rel="icon" sizes="16x16 24x24 32x32 48x48 64x64" href="favicon.ico">
</head>
<body>
  <nav class="top">
    <div style=""></div>
    <a href="/">Hive Mac</a> |
    <a href="https://hivewallet.com">Hive iOS / Android</a>
  </nav>

  <div class="github-fork-ribbon-wrapper right">
    <div class="github-fork-ribbon">
      <a href="https://github.com/hivewallet/hive-osx">Fork me on GitHub</a>
    </div>
  </div>

  <%= yield %>

  <hr>

  <footer>
    <a href="https://github.com/hivewallet/hive-osx"><%= image_tag 'github-mark.png', class: 'github' %> Source code</a>
    <a href="https://github.com/hivewallet/hive-osx/releases">Version history</a>
    <a href="https://www.transifex.com/projects/p/hive-osx/">Translations</a>
    <a href="https://github.com/hivewallet/hive-osx/wiki/FAQ">FAQ</a>
    <a href="">Contact</a>
    <a href="bitcoin:1wdERgJVZhqeUVTWGmZqdorLGtFVzF1xy?label=Hive%20Mac%20Donation">
      <%= image_tag 'bitcoin-logo.png', class: 'bitcoin', alt: 'Bitcoin' %> Donations</a>
    <a href="https://twitter.com/hive_mac"><%= image_tag 'twitter_logo_blue.png', class: 'twitter', alt: 'Twitter: ' %>
      @hive_mac</a>
  </footer>
</body>
</html>
